table {
    border-collapse: collapse;
    width: 100%;
}
th,td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color:beige;
}
th{
    background-color:bisque;
}
h1 {
    text-align: center;
}